/* Fonts */
@font-face {
    font-family: Impact;
    src: url(../fonts/impact.ttf);
}

@font-face {
    font-family: Tahoma;
    src: url(../fonts/tahoma.ttf);
}

@font-face {
    font-family: "Helvetica Bold";
    src: url(../fonts/Helvetica-Bold-Font.ttf);
}
