.nav-bar-list {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header styles */
nav {
    background-color: $azul-oscuro;
    color: white;
}

header {
    font-family: Helvetica Bold;
    font-size: 1.2rem;
}

header h3 {
    font-size: 1.6rem;
}
