/* Fonts */
@font-face {
    font-family: Impact;
    src: url(../fonts/impact.ttf);
}
@font-face {
    font-family: Tahoma;
    src: url(../fonts/tahoma.ttf);
}
@font-face {
    font-family: "Helvetica Bold";
    src: url(../fonts/Helvetica-Bold-Font.ttf);
} 

/* General style */
* {
    margin: 0;
    padding: 0;
    
    /* https://coolors.co/00072b-1106f4-91b9f2-dde1fc-95989e-020202 */
    --azul-oscuro: #00072B;
    --azul: #1106F4;
    --gris-azulado: #91B9F2;
    --gris-claro: #DDE1FC;
    --gris-oscuro: #95989E;
    --oscuro: #020202;
}

.nav-bar-list {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Body style */
.contenedor {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.title {
    font-family: Impact;
    font-size: 2.4rem;
}

.subtitle {
    font-family: Tahoma;
    padding-top: 1rem;
}


/* Header styles */
nav {
    background-color: var(--azul-oscuro);
    color: white;
}

/* header {
    background-color: var(--azul-oscuro);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-items: center;
    padding: 1rem 4rem;
} */

    /* Footer style infiltrado */
header *, footer * {
    font-family: Helvetica Bold;
    font-size: 1.2rem;
}

header h3 * {
    font-size: 1.6rem;
}

/* header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
} */

/* Main style */
main {
    background-color: var(--gris-oscuro);
    color: var(--azul-oscuro);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

@media (min-width: 992px) {
    main {
        justify-content: center;
    }
    main.landing {
        flex-direction: row;
    }
}

/* Hero style */
.hero-image {
    padding-top: 5px;
    width: 100%;
}

@media (min-width: 992px) {
    .hero-image {
        padding-top: 0px;
        width: 450px;
    }
}

.hero-button {
    display: inline-block;
    padding-top: 1rem;
    color: var(--azul-oscuro);
    border: 1px solid var(--azul-oscuro);
    padding: .5rem 1rem;
    border-radius: 10rem;
}

main iframe {
    width: 100%;
    height: 350px;
}
@media (min-width: 992px) {
    main iframe {
        width: 50%;
        height: 540px;
    }    
}

/* Footer style */
footer {
    background-color: var(--gris-azulado);
    color: var(--oscuro);
    padding: 1rem;
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.icon-red-social { 
    font-size: 2rem;
}
